* {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 250, 253);
}

#chat{
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.822);
}

#container{
    margin:0 auto;
    width: 80%;
    display: block;
}


.msgcurta{
    width: 40%;
    background-color: rgba(255, 255, 255, 0.103);
    text-align: center;
    align-items: center;
    margin-left: 29%;
    padding: 10px;
    box-shadow: 10px 10px 50px black;
    border-radius: 20px;
}


#chatonline
{
    width: 80%;
    height: 610px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

@keyframes mudarcor{
    0% {
        background-color: rgb(132, 0, 255);
    }
    25%{
        background-color: rgb(255, 0, 234);
    }
    50%{
        background-color: rgb(255, 0, 140);
    }
    75%{
        background-color: rgb(255, 0, 234);
    }
    100%{
        background-color: rgb(132, 0, 255);
    }
}

.card{
    width: 18%;
    height: 20%;
    float: left;
    margin-top: 150px;
    display: flex;
}

.cabecalho{
    width: 100%;
    height: 140px;
    background-color: rgb(59, 59, 59);
    border: 1px solid rgb(61, 61, 61);
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.cabecalho img{
    margin-left: 50px;
}

.d-flex{
    align-items: flex-end;
    color: white;
    display: block;
    margin-right: 30px;
    width: 250px;
}

#logo{
    width: 150px;
    height: 130px;
 
}

.icone{
    width: 30px;
    height: 25px;
    float: left;
    margin-top: 12px;
    margin-inline-start: 10px;

}

.menu li {
    font-size: 20px;
    margin-top: 12px;
}


.menu a {
    background-color: rgb(255, 255, 255);
    color: rgb(18, 63, 66);
    transition: 0.3s all;
    list-style: none;
    text-decoration: none;
    border-radius: 5%;
    border: 0.1rem solid rgba(0, 0, 0, 0.219);
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 60px;
    margin: 8px;

}

.contmenu{
    height: 120px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
}


.menu{
    width: 100%;
    height: 70px;
    margin: 0 auto;
}

.menu a:hover {
    color: rgb(24, 79, 107);
    box-shadow: 0px 0px 20px black;
    box-shadow: 0px 0px 15px rgb(9, 206, 255), rgb(0, 238, 255) 5px rgb(0, 217, 255) inset;
    text-shadow: 0px 0px 8px rgb(255, 255, 255), 0px 0px 3px rgb(102, 88, 143);
    transform: translateX(-10px);
    box-shadow: 0px 0px 10px white;
    border: 1px solid rgb(24, 79, 107);
}

.menu ul{
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-left: 22%;
}

#portfolio_titulo {
    /* background-color: rgb(238, 250, 253); */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#portfolio_titulo h1{
    margin-bottom: 30px;
}
#portfolio_titulo p {
    width: 40%;
    font-size: 20px;
    margin-bottom: 100px;
}

.trabalhos {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* background-color: rgb(238, 250, 253); */
}


.trabalhos div {
    /* background-color: brown; */
    border: solid 3px black;
    border-radius: 4px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 20px;
}
.trabalhos h2 {
    margin: 10px 20px 15px 20px;
    font-size: 50px;
}
.trabalhos h4 {
    margin: 10px 20px 15px 20px;
}
.trabalhos p {
    text-align: justify;
    margin: 5px 20px 10px 20px;
    font-size: 20px;
}
.trabalhos a {
    text-decoration: none;
}
#carouselSlide{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 100px;
}

#carouselSlide img{
    transition: transform 2s ease, opacity .5s ease-out;
    border-radius: 5px;
    max-width: 100%;
    max-height: 50%;
    border: 1px solid white;
}

.navegacao{
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    margin-left: 33%;
}

.navegacao li{
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    width: 10%;
}

.formulario{
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
    height: 20%;
    border: 1px solid rgba(83, 83, 83, 0.589);
    margin-bottom: 100px;
    background: linear-gradient(rgb(70, 70, 70), rgb(65, 65, 65));
    box-shadow: 0px 0px 10px black;
    color: white;
    letter-spacing: 1px;
    border-radius: 5px;
}

.pmsg{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    height: 5%;
    margin-bottom: 20px;
    background-color: rgb(26, 26, 58);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
}

.formulario button{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 40%;
    border: 0.5px solid black;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    height: 10%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 10px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.formulario textarea{
    margin-left: 99px;
    width: 60%;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
    margin-left: 25%;
    height: 200px;
}

.formulario input, button{
    color: black;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border: 0px;
    border-radius: 10px;
}
  
.formulario label{
    margin-left: 20px;
    font-size: 18px;
}

.formulario input:hover {
    background-color: rgb(222, 224, 236);
    transform:translate(-1px);
}

.formulario button:hover {
    background-image: linear-gradient(to right, #25aae1, #40e4bb, #30dd87, #2bb6b6);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    background-position: 100% 0;
    -o-transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
    transform-origin: center;
    transform: scale(1.1);
}

.rodape {
    background-color: rgb(62, 97, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
}
.rodape p {
    padding: 4px 4px 4px 4px;
    background-color: rgb(59, 59, 59);
    border: solid 3px rgb(59, 59, 59);
    border-radius: 3px;
    color: rgb(238, 250, 253);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.apresentacao {
    text-align: center;
    font-size: 25px;
}

.index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
}

.index-conteudo, .index-imagem {
    text-align: center;
    width: 50%;
    margin-bottom: 200px;
}

.index-conteudo {
    /*
    border: 1px solid black;
    */
}

.index-conteudo a {
    font-size: 22px;
}

.index-imagem img {
    width: 80%;
}

.index p {
    font-size: 20px;
}

.index-conteudo p {
    text-align: justify;
    font-size: 20px;
}

.index-conteudo span {
    font-size: 22px;
    font-weight: bold;
}